

.settings-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .settings-row {
        display: flex;
        align-items: center;
        height: 100px;
    }

    ::ng-deep {
        .mat-form-field-wrapper {
            margin: 0;
        }
    }

}