<form [formGroup]="settingsForm" class="settings-form" (ngSubmit)="submit()">

    <div class="settings-header">Data settings</div>
    <div class="settings-row">
        <mat-form-field appearance="fill">
            <mat-label>Symbol</mat-label>
            <input matInput type="text"
                    formControlName="tickerControl"
                    placeholder="Ticker">
        </mat-form-field>
        
        <!-- Time frame -->
        <mat-form-field appearance="fill">
            <mat-label>Timeframe</mat-label>
            <mat-select formControlName="timeframeControl"
                        placeholder="Time frame">
                <mat-option *ngFor="let item of timeframes"
                            [value]="item" >{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
    
        <!-- output size -->
        <mat-form-field appearance="fill">
            <mat-label>Output size</mat-label>
            <mat-select formControlName="outputSizeControl"
                        placeholder="Output size">
                <mat-option *ngFor="let item of outputSizes"
                            [value]="item" >{{item}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- slice -->
        <mat-form-field appearance="fill">
            <mat-label>Time slice</mat-label>
            <mat-select formControlName="sliceControl"
                        placeholder="Time slice">
                <mat-option *ngFor="let item of slices"
                            [value]="item" >{{item}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- adjusted -->
        <mat-form-field appearance="fill">
            <mat-label>Adjusted</mat-label>
            <mat-select formControlName="adjustedControl"
                        placeholder="Adjusted">
                <mat-option *ngFor="let item of adjusted"
                            [value]="item" >{{item}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- data type -->
        <mat-form-field appearance="fill">
            <mat-label>Data type</mat-label>
            <mat-select formControlName="dataTypeControl"
                        placeholder="Data type">
                <mat-option *ngFor="let item of dataTypes"
                            [value]="item" >{{item}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div class="settings-header">Chart settings</div>
    <div class="settings-row">

         <!-- chart type -->
         <mat-form-field appearance="fill">
            <mat-label>Chart type</mat-label>
            <mat-select formControlName="chartTypeControl"
                        placeholder="Chart type">
                <mat-option *ngFor="let item of chartTypes"
                            [value]="item" >{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
    
        <!-- scale type -->
        <mat-form-field appearance="fill">
            <mat-label>Scale type</mat-label>
            <mat-select formControlName="scaleTypeControl"
                        placeholder="Scale type">
                <mat-option *ngFor="let item of scaleTypes"
                            [value]="item" >{{item}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button 
                class="submit-button"
                type="submit"
                color="primary">
            Submit
        </button>
        
       

    </div>

</form>