<mat-sidenav-container *ngIf="internalSite"
class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" 
      [mode]="'push'"
      [(opened)]="opened">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list (click)="sidenav.toggle()">
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
	  <a mat-list-item routerLink="/positions">Positions</a>
	  <a mat-list-item routerLink="/iv-rank">IV Rank Table</a>
      <a mat-list-item routerLink="/option-chain">Option Chains</a>
	  <a mat-list-item routerLink="/calendar">Calendar</a>
      <a mat-list-item routerLink="/charts">Charts</a>
	  <a mat-list-item routerLink="/strategies">Strategies</a>
	  <a mat-list-item routerLink="/tools">Tools</a>
	  <a mat-list-item routerLink="/help">Learning center</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="top-toolbar" color="primary">
	<button
		type="button"
		
		class="mat-icon-button mat-button-base menu-button"
		(click)="sidenav.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<span>Visual Volatility</span>
	<span class="spacer"></span>
	<a class="toolbar-item" routerLink="/dashboard">Dashboard</a>
	<a class="toolbar-item" routerLink="/account">Account</a>
	<a class="toolbar-item" routerLink="/help">Help</a>
	<a class="toolbar-item" routerLink="/welcome">Logout</a>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<div *ngIf="!internalSite">
	<router-outlet></router-outlet>
</div>

