<h1>Welcome to {{ title }}!</h1>
<!-- <nav>
	<a routerLink="/heroes">Dudes</a>
	<a routerLink="/dashboard">Coolest dudes...</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages> -->

<!-- <mat-slider min="1" max="1000" step="1" value="1"></mat-slider> -->
<!-- <app-address-form></app-address-form> -->
<!-- <app-material-dashboard></app-material-dashboard> -->
<!-- <app-material-table></app-material-table> -->
<!-- <app-material-tree></app-material-tree> -->
<!-- <app-material-nav></app-material-nav> -->
<app-material-dragdrop></app-material-dragdrop>
