* {
	/* border: 1px solid blue; */
}

h1 {
	text-align: center;
}

/* NOTE: lots of styles used from styles.css */


/* navbar section  */
.nav-icons {
	display: none;
}
.nav-header {
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-vis {
	display: block;
	margin: 0 1rem;
	padding: 1rem 1rem;
	border: var(--mainBlack) 2px solid;
	/* border-radius: 3px; */
	color: var(--mainBlack);
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: var(--mainSpacing);

}
.btn-vis:hover {
	color: var(--mainWhite);
	background: var(--primaryColor);
	border: var(--primaryColor) 2px solid;
}
.nav-toggle {
	background: transparent;
	border: none;
	outline: none;
	font-size: 1.5rem;
	color: var(--primaryColor);
	cursor: pointer;
	transition: var(--mainTransition);

}
.nav-toggle:hover {
	transform: scale(1.2);
}
.nav-link {
	display: block;
	padding: 1rem 2rem;
	color: var(--mainBlack);
	text-transform: capitalize;
	font-weight: bold;
	letter-spacing: var(--mainSpacing);
	transition: var(--mainTransition);
}
.nav-link:hover {
	color: var(--primaryColor);
	background: var(--darkGrey);
	padding-left: 2.5rem;
}

@media screen and (min-width: 992px) {
	.nav-toggle {
		display: none;
	}
	.nav-links {
		display: flex;
		height: auto;
		align-items: center;
	}
	.nav-icons {
		display: flex;
	}
	.nav-center {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
	}
	.nav-header {
		padding: 0;
	}
	.nav-link {
		padding: 0;
	}
	.nav-link:hover {
		padding: 0;
		background: transparent;
	}
	.navbar {
		padding: 1rem 2rem;
	}
	.nav-link {
		margin-right: 0.7rem;
	}
	.nav-icon {
		margin-right: 0.7rem;
		color: var(--primaryColor);
		font-size: 1.2rem;
		transition: var(--mainTransition);

	}
	.nav-icon:hover {
		color: var(--darkGrey);
		transform: translateY(-10%);
	}
}


/* end navbar section  */

/* hero section */

.hero {
	min-height: calc(100vh - 62px);
	background: var(--primaryColor);
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-banner {
	text-align: center;
	color: var(--mainWhite);
	padding: 0 2rem;
}

.hero-title {
	text-transform: uppercase;
	margin-bottom: 2rem;
	letter-spacing: 0.4rem;
}

.hero-text {
	width: 85%;
	margin: 0 auto;
	letter-spacing: var(--mainSpacing);
	font-weight: 400;
	
}

@media screen and (min-width:540px) {
	.hero {
		background: linear-gradient(rgba(63, 208, 212, 0.7), rgba(0,0,0,0.7)), url('../../../img/stock-chart.jpg') center/cover no-repeat fixed;
	}

	.hero-title {
		font-size: 4.5rem;

	}

	.hero-text {
		width: 70%;
		margin: 2rem auto;
	}
	
}

/* about section */

.about {
	background: var(--mainWhite);
}

.about-img, .about-info {
	margin: 2rem;
}

.about-info h3 {
	text-transform: uppercase;
}

@media screen and (min-width:992px){
	.about-center {
		display: flex;
		justify-content: space-between;

	}

	.about-img, .about-info {
		flex: 0 0 calc(50% - 2rem);
		margin-bottom: 0;
		align-self: center;
	}
}

@media screen and (min-width:1170px){
	.about-img::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		border: 0.5rem solid var(--primaryColor);
		top: -1.5rem;
		left: -1.5rem;
	}

	.about-img {
		position: relative;
	}

	.about-photo {
		position: relative;
	}
}

/* end about section */

/* services section */
.service {
	text-align: center;
	margin-bottom: 3rem;

}

.service-icon {
	background: var(--primaryColor);
	padding: 0.5rem;
	display: inline-block;
	font-size: 2rem;
	/* margin-bottom: 1.5rem; */


}

.service-title {
	text-transform: uppercase;
}

.service-text {
	width: 80%;
	margin: 0 auto;
	line-height: 1.5;
}

@media screen and (min-width: 576px) {
	.services-center {
		display: flex;
		/* after */
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.service {
		flex: 0 0 calc(50% - 1rem);
	}
}

@media screen and (min-width: 992px) {
	.services-center {
		display: flex;
		/* after */
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.service {
		flex: 0 0 calc(33.3333% - 1rem);
	}
}

@media screen and (min-width: 1170px) {
	.service {
		display: flex;
		text-align: left;

	}
	.service-icon {
		align-self: flex-start;
	}
	.service-title {
		margin-top: 0;
	}

	.service-info {
		padding-left: 1rem;
		margin-bottom: 0.5rem;

	}
	.service-text {
		width: 90%;
		margin: 0;
	}
}

/* end services section */

/* featured tours section */

.featured {
	background: var(--mainWhite);
}

.tour-card {
	margin-bottom: 4rem;
	box-shadow: var(--lightShadow);
	transition: var(--mainTransition);
}

.tour-card:hover {
	box-shadow: var(--darkShadow);

}

.tour-img-container {
	position: relative;
}

.tour-date {
	position: absolute;
	top: 0;
	left: 0;
	background: var(--primaryColor);
	text-transform: capitalize;
	padding: 0.25rem 0.5rem;
	margin-top: 0px;
}

.tour-footer {
	padding: 1.2rem 1.5rem;
}
.tour-title {
	text-transform: capitalize;
}
.tour-title-up {
	text-transform: uppercase;
}
.tour-country {
	color: var(--primaryColor);
	text-transform: capitalize;
	align-self: center;
}
.tour-info {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.tour-details p {
	line-height: 0.2;
	text-transform: capitalize;
	color: var(--darkGrey);
	letter-spacing: 0.02rem;

}

.tour-link {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.featured-center {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

	}
	.tour-card {
		flex: 0 0 calc(50% - 1rem);

	}
}

@media screen and (min-width: 1170px) {
	
	.tour-card {
		flex: 0 0 calc(33.3333% - 1rem);

	}
}

/* end featured tours section */

/* gallery section */

.gallery {
	background: var(--darkGrey);


}
.gallery-img-container{
	position: relative;
	background-color: var(--primaryColor);
}
.gallery-img-container:hover .gallery-img {
	opacity: 0.5;
}
.gallery-img-container:hover .gallery-icon {
	opacity: 1;
}
.gallery-img:hover {
	transition: var(--mainTransition);

}
.gallery-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	color: var(--mainWhite);
	font-size: 2.5rem;
	transform: translate(-50%, -50%);
	cursor: pointer;
	transition: var(--mainTransition);
	opacity: 0;

}
@media screen and (min-width: 768px) {
	.gallery-center {
		display: flex;
		/* justify-content: space-between; */
		flex-wrap: wrap;

	}
	.gallery-img-container {
		flex: 0 0 50%;

	}
}

@media screen and (min-width: 1170px) {
	
	.gallery-img-container {
		flex: 0 0 %;

	}
}


/* end gallery section */

/* email section */

.input-group {
	width: 80vw;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
}

.form-control {
	flex: 1 1 auto;
}
.form-control, .btn-submit {
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 300;
	letter-spacing: var(--mainSpacing);
	background: transparent;
	text-transform: uppercase;
	outline: none;
	border: 2px solid var(--primaryColor);
}
::placeholder {
	font-family: Lato, sans-serif;
	color: var(--mainBlack);
}
.btn-submit {
	border-left: none;
	cursor: pointer;
	transition: var(--mainTransition);

}
.btn-submit:hover {
	color: var(--mainWhite);
	background: var(--primaryColor);
}

/* end email section */

/* footer section  */
.footer {
	background: var(--mainBlack);
	color: var(--mainWhite);
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
}

.footer-links, .footer-icons {
	display: flex;
	justify-content: center;
	margin-bottom: 1.5rem;
	flex: wrap;
}
.footer-link {
	color: var(--mainWhite);
	text-transform: capitalize;
	font-size: 1.1rem;
	margin-right: 1rem;
	letter-spacing: var(--mainSpacing);
	transition: var(--mainTransition);

}

.footer-link:hover {
	color: var(--primaryColor);

}
.footer-icon {
	font-size: 1.9rem;
	margin-right: 1rem;
	color: var(--mainWhite);
	transition: var(--mainTransition);
}
.footer-icon:hover {
	color: var(--primaryColor);
	transform: translateY(-10%);
}
.copyright {
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
}

/* end footer section  */
